@font-face {
    font-family: "CircularStdBold";
    src: url("../fonts/CircularStd-Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "CircularStdMedium";
    src: url("../fonts/CircularStd-Medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "CircularStdBook";
    src: url("../fonts/CircularStd-Book.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "jira";
    src: url("../fonts//jira.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: "CircularStdBook";
    font-size: 16px;
    font-weight: normal;
    line-height: 1.2;
    color: rgb(23, 43, 77);
    text-align: left;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-family: "CircularStdBold";
    font-weight: normal;
}

.jira {
    height: 100%;
    display: flex;

    .ant-layout--background {
        background-color: #fff;
    }
}
