header {
    .header {
        width: 100%;
        box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 10;
        transition: all .2s;

        &__logo {
            padding: 0 1.5rem;
            height: 60px;
            width: 280px;
            display: flex;
            align-items: center;
            transition: width .2s;
            &-src {
                height: 23px;
                width: 97px;
                background: url("/public/assets/images/logo-inverse.png");
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        &__content {
            display: flex;
            align-items: center;
            padding: 0 1.5rem;
            height: 60px;
            &-left {
                display: inline;
                line-height: 60px;
            }
            &-right {
                display: inline;
            }
        }
    }
}