.fa-bookmark {
    color: #5fb03e;
}

.fa-check-square {
    color: #4fade6;
}

.fa-exclamation-circle {
    color: #e44d42;
}

.fa-arrow-up--high {
    color: rgb(233, 73, 74);
}

.fa-arrow-up--medium {
    color: rgb(233, 127, 51);
}

.fa-arrow-down--low {
    color:rgb(45, 135, 56);
}

.fa-arrow-down--lowest {
    color: rgb(87, 165, 90);
}