/* Menu */
.menu {
    height: 100vh;
    width: 20%;
    background-color: #f4f5f7;
    font-size: 14.7px;
    border-right: 1px solid rgb(223, 225, 230);

    .account {
        display: flex;
        padding: 5% 15%;
        margin-bottom: 5%;
        .avatar {
            padding-top: 13%;
            margin-right: 10px;
            img {
                width: 50px;
            }
        }
        .account-info {
            padding-top: 12%;
            padding-bottom: 5%;
            text-align: left;
            p:first-child {
                margin-bottom: 3px;
                font-size: 15px;
                font-family: "CircularStdMedium";
                font-weight: normal;
            }
            p:last-child {
                margin-top: 0px;
                font-size: 14px;
            }
        }
    }

    .control {
        padding: 0% 10%;
        text-align: left;
        margin-bottom: 8%;
        border-bottom: 2px solid #c4c5c6;

        div {
            a {
                display: block;
                margin-bottom: 10px;
                padding: 2% 3%;
                cursor: pointer;
                i {
                    margin-right: 15px;
                    font-size: 20px;
                }
    
                span:first-child {
                    margin-right: 10px;
    
                    &:focus {
                        background-color: #ebecf0;
                    }
                }
    
                &:focus {
                    color: royalblue;
                }

                &:hover {
                    background: rgb(235, 236, 240);
                }

                &.active {
                    color: #001529;
                }
            }
            
        }
    }

    .feature {
        padding: 0% 10%;
        text-align: left;
        margin-bottom: 8%;

        a {
            display: block;
            margin-bottom: 5px;
            padding: 2% 3%;
            cursor: pointer;

            i {
                margin-right: 15px;
                font-size: 20px;
            }

            &:hover {
                background: rgb(235, 236, 240);
            }

            &.active {
                color: #001529;
            }
        }
    }
}
