/* Modal */
.modal-search {
    margin: 0px !important;

    .modal-content {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        height: 100vh;

        .modal-header {
            border-bottom: none;

            .search-block {
                position: relative;
                width: 100%;

                .search {
                    height: 32px;
                    border: none;
                    border-bottom: 2px solid #7094ce;
                    padding-left: 32px;
                    width: 100%;
                }

                .fa-search {
                    position: absolute;
                    left: 5%;
                    top: 15%;
                    color: #67748b;
                }
            }
        }
    }

    .modal-body {
        div {
            height: 50px;

            .icon {
                padding: 3% 0px;
                margin-right: 15px;
            }

            div {
                p {
                    margin: 0;
                    font-size: 16px;

                    &:last-child {
                        color: grey;
                    }
                }
            }
        }
    }
}

.modal-info {
    max-width: 1140px !important;

    .modal-content {
        padding: 20px 24px;

        .modal-header {
            padding: 1rem 2rem;
            border-bottom: none;

            .task-title {
                select {
                    margin-left: 7px;
                }
            }
        }
    }

    .modal-body {
        h6 {
            margin: 24px 0px 5px;
        }

        .issue {
            font-size: 20px;
            font-weight: 500;
        }

        .description {
            p:first-child {
                margin: 20px 0px 6px;
            }
        }

        .comment {
            padding-top: 40px;

            .block-comment {
                margin-top: 15px;

                .avatar {
                    margin-right: 10px;
                }

                .input-comment {
                    width: 100%;
                
                    input {
                        width: 100%;
                        height: 45px;
                        padding: 10px;
                    }

                    .input-comment__tip {
                        padding-top: 5px;
                    }
                }
            }

            .lastest-comment {
                margin-top: 25px;

                .comment-item {
                    .display-comment .avatar {
                        margin-right: 15px;
                    }

                    .comment-text {
                        &__name {
                            padding-bottom: 10px;
                            color: rgb(66, 82, 110);
                            font-family: CircularStdMedium;
                            font-weight: normal;
                        }

                        &__content {
                            padding-bottom: 10px;
                            white-space: pre-wrap;
                        }

                        &__btn-edit {
                            border: none;
                            background-color: transparent;
                            padding: 2px 0;
                            margin-right: 12px;
                            font-size: 14.5px;
                            font-family: "CircularStdBook";
                            color: rgb(94, 108, 132);

                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        &__btn-del {
                            border: none;
                            background-color: transparent;
                            padding: 2px 0;
                            font-size: 14.5px;
                            font-family: "CircularStdBook";
                            color: rgb(94, 108, 132);

                            &::before {
                                position: relative;
                                right: 6px;
                                content: "·";
                                display: inline-block;
                            }

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }

        .status .custom-select {
            height: 35px;
            background: #dcdfe4;
        }

        .assignees {
            .col-6 {
                padding: 0 15px;
            }

            .item {
                background: #e9eaf0;
                padding: 5px;
                border-radius: 5px;
                flex-basis: 50%;
            
                .avatar img {
                    width: 30px;
                    height: 30px;
                }
            
                .name {
                    margin: 0;
                    font-size: 14.5px;
                }
            }
        }

        .estimate {
            .estimate-hours {
                height: 35px;
                background: #f2f3f7;
                border: 1px solid;
                border-color: #ced4da;
                width: 100%;
                padding: 8px;
            
                &:focus {
                    background: white;
                }
            }
        }

        .time-tracking {
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid #ced4da;

            .time-tracking__block {
                padding: 3px;
                display: flex;
                align-items: center;

                .time-tracking--clock {
                    margin-right: 10px;
                }
            }
        }
    }
}

.task-title {
    span {
        margin-left: 10px;
    }
}

.task-click {
    justify-content: center;

    &__feedback {
        margin-right: 5px;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 3px;
        background-color: #fff;
        border: none;

        i {
            margin-right: 5px;
        }

        span {
            font-size: 14.5px;
            font-family: "CircularStdBook";
        }

        &:hover {
            background: rgb(235, 236, 240);
        }
    }

    &__link {
        margin-right: 5px;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 3px;
        background-color: #fff;
        border: none;

        i {
            margin-right: 5px;
        }

        span {
            font-size: 14.5px;
            font-family: "CircularStdBook";
        }

        &:hover {
            background: rgb(235, 236, 240);
        }
    }

    &__remove-task {
        margin-right: 5px;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 3px;
        background-color: #fff;
        border: none;

        &:hover {
            background: rgb(235, 236, 240);
        }
    }

    .close {
        // padding-bottom: 16px !important;
    }
}

.fa-trash-alt {
    width: 20px !important;
    height: 20px;
}

.col-4 h6 {
    font-size: 13px;
}

.reporter {
    margin-bottom: 20px;

    .item {
        width: fit-content;
    }
}

.progress {
    height: 5px !important;
    width: 100%;
}

.logged,
.estimate-time {
    font-size: 14px;
}
