/* Modal */
.modal-search {
    margin: 0px !important;

    .modal-content {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        height: 100vh;

        .modal-header {
            border-bottom: none;

            .search-block {
                position: relative;
                width: 100%;

                .search {
                    height: 32px;
                    border: none;
                    border-bottom: 2px solid #7094ce;
                    padding-left: 32px;
                    width: 100%;
                }

                .fa-search {
                    position: absolute;
                    left: 5%;
                    top: 15%;
                    color: #67748b;
                }
            }
        }
    }

    .modal-body {
        div {
            height: 50px;

            .icon {
                padding: 3% 0px;
                margin-right: 15px;
            }

            div {
                p {
                    margin: 0;
                    font-size: 16px;

                    &:last-child {
                        color: grey;
                    }
                }
            }
        }
    }
}

.modal-info {
    max-width: 1000px !important;

    .modal-content {
        padding: 20px 24px;

        .modal-header {
            padding: 1rem 2rem;
            border-bottom: none;

            .task-title {
                select {
                    margin-left: 7px;
                }
            }
        }
    }

    .modal-body {
        .issue {
            font-size: 20px;
            font-weight: 500;
        }

        .description {
            p:first-child {
                margin: 20px 0px 6px;
            }
        }

        .comment {
            padding-top: 40px;

            .block-comment {
                margin-top: 15px;

                .avatar {
                    margin-right: 15px;
                }

                .input-comment {
                    width: 100%;
                
                    input {
                        width: 100%;
                        height: 45px;
                        padding: 10px;
                    }

                    .input-comment__tip {
                        padding-top: 5px;
                    }
                }
            }

            .lastest-comment {
                margin-top: 25px;

                .comment-item {
                    .display-comment .avatar {
                        margin-right: 15px;
                    }

                    .comment-text {
                        .comment-text__name {
                            padding-bottom: 10px;
                            color: rgb(66, 82, 110);
                            font-family: CircularStdMedium;
                            font-weight: normal;
                        }

                        .comment-text__content {
                            padding-bottom: 10px;
                            white-space: pre-wrap;
                        }
                    }
                }
            }
        }

        .assignees {
            .col-6 {
                padding: 0 15px;
            }

            .item {
                background: #e9eaf0;
                padding: 5px;
                border-radius: 5px;
                flex-basis: 50%;
            
                .avatar img {
                    width: 30px;
                    height: 30px;
                }
            
                .name {
                    margin: 0;
                    font-size: 14.5px;
                }
            }
        }
    }
}

.task-title {
    span {
        margin-left: 10px;
    }
}

.task-click {
    div span {
        padding-right: 20xp;
    }

    .close {
        padding-bottom: 16px !important;
    }
}

.fa-trash-alt {
    width: 20px !important;
    height: 20px;
}

.col-4 h6 {
    font-size: 13px;
}

.status .custom-select {
    height: 35px;
    background: #dcdfe4;
    margin-bottom: 20px;
}

.reporter {
    margin-bottom: 20px;

    .item {
        width: fit-content;
    }
}

.estimate-hours {
    height: 35px;
    background: #f2f3f7;
    margin-bottom: 20px;
    border: 1px solid;
    border-color: #ced4da;
    width: 100%;
    padding: 8px;

    &:focus {
        background: white;
    }
}

.time-tracking {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ced4da;
    h6 {
        font-size: 12px;
        color: #929398;
    }
}

.time-tracking .fa-clock {
    margin-right: 10px;
}

.progress {
    height: 5px !important;
    width: 100%;
}

.logged,
.estimate-time {
    font-size: 14px;
}
